<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tris.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40204D0B1D49EF4B00E7AED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40204D231D49EF4C00E7AED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40204D2E1D49EF4C00E7AED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
